﻿@model IEnumerable<DemoApp.Models.Movie>

<p>
    @Html.ActionLink("Create New", "Create", "Movies")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Movies", new { id=item.ID }, null) |
            @Html.ActionLink("Details", "Details", "Movies", new { id=item.ID }, null) |
            @Html.ActionLink("Delete", "Delete", "Movies", new { id=item.ID }, null)
        </td>
    </tr>
}

</table>
