﻿@using DemoApp.Models
@model IEnumerable<DemoApp.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("~/Views/Movies/_ListTable.cshtml", Model)

<p>This ActionLink goes to another controller: @Html.ActionLink("Back to Home", "Index", "Home")</p>
